# Ігнорування вихідних SCSS файлів (їх форматує Stylelint)
app/scss/**/*.scss

# Ігнорування згенерованих та скомпільованих CSS файлів
app/css/**/*.css

# Ігнорування папки збірки та мініфікованих скриптів
dest/
app/js/**/*.min.js
