.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentcolor;
}

.icon-cube_scan_icon_137714 {
  width: (24/24) * 1em;
  font-size: (24/10) * 1rem;
}

.icon-d_cube_scan_icon_241348 {
  width: (24/24) * 1em;
  font-size: (24/10) * 1rem;
}
